---
import BaseLayout from "../layouts/BaseLayout.astro";
import Login from "../components/Forms/Login.astro";

---


<BaseLayout>
  <div class="mb-6 p-4 bg-yellow-50 border-l-4 border-yellow-400 text-yellow-800 rounded">
    <strong>Note:</strong> Beta access is limited. New users can join the <a href="/waitlist" class="underline text-primary">waitlist</a> for early access.
  </div>
  <Login />
</BaseLayout>
